<h2>Admin Dashboard</h2>
<%= link_to "Admin Merchants Index", admin_merchants_path %>
<%= link_to "Admin Invoices Index", admin_invoices_path %>

<section id="top_customers"> 
  <h3>Top 5 Customers</h3>
  <% @top_5_customers.each_with_index do |customer, index| %>
    <%= "#{index + 1}. " %> <%= customer.first_name %> <%= customer.last_name %>
    <%= "- #{customer.num_transactions} purchases" %>
    <br>
  <% end %>
</section>

<section id="incomplete_invoices">
    <h3>Incomplete Invoices</h3>
    <% @incomplete_invoices.each do |invoice| %>
      <div id="incomplete_invoices_<%= invoice.id %>">
        <li><%= link_to invoice.id, admin_invoice_path(invoice) %>
        <%= "- #{invoice.created_at.strftime("%A, %B %-d, %Y")}" %></li>
      </div>
    <% end %> 
</section>