<h1>Invoice #<%= @invoice.id %></h1>
<p>
Status: <%= form_with model: @invoice, url: admin_invoice_path(@invoice), local: true do |form| %>
    <%= form.select :status, ['', 'in progress', 'cancelled', 'completed'] %>
    <%= form.submit 'Update Invoice Status' %>
<% end %>
</p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B%e, %Y") %></p>
<p>Total Revenue: <%= number_to_currency(@invoice.total_revenue / 100) %></p>

<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>

<div id='items'>
    <h2>Items on this Invoice:</h2>
    <table>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Status</th>
      </tr>
      <% @invoice.items.each do |item| %>
        <tr id="item-<%= item.id %>">

          <td><%= item.name %></td>
          
          <td><%= item.invoice_item_by_invoice(@invoice).quantity %></td>
          
          <td><%= number_to_currency((item.invoice_item_by_invoice(@invoice).unit_price)/100.00) %></td>

          <td><%= item.invoice_item_by_invoice(@invoice).status %></td>
        </tr>
      <% end %>
    </table>
</div>