<h2 class="subtitle2">My Bulk Discounts</h2>
<%= link_to 'New Bulk Discount', new_merchant_bulk_discount_path(@merchant) %>
<div id='discounts'>
  <table>
    <tr>
      <th>ID</th>
      <th>Item Threshold</th>
      <th>Discount %</th>
      <th></th>
    </tr>
    <% @discounts.each do |discount| %>
      <tr id="discount-<%= discount.id %>">
        <td><%= discount.id %></td>
        <td><%= discount.threshold %></td>
        <td><%= discount.discount_percentage %>%</td>
        <td> <%= link_to 'show', merchant_bulk_discount_path(@merchant, discount) %> </td>
      </tr>
    <% end %>
  </table>
</div>