<section class="right">
  <div id="top_customers">
  <h2>Favourite Customers</h2>
    <% @merchant.top_customers.each_with_index do |customer, index| %>
      <div id="customer-<%= customer.id %>">
        <p><%= index + 1 %>. <%= customer.full_name %>   - <%= @merchant.customer_amount_of_successful_transactions(customer.id) %> purchases</p>
      </div>
    <% end %>
  </div>
</section>

<section class="left">
  <div id='items_to_ship'>
    <h2>Items Ready to Ship:</h2>
    <% @merchant.items_ready_to_ship.each do |item| %>
      <div id="item-<%= item.id %>">
        <h4><%= item.name %></h4>
        <h4>Shippable Invoices:</h4>
          <% item.shippable_invoices.each do |invoice| %>
            <p>Invoice #<%= link_to invoice.id, merchant_invoice_path(@merchant, invoice) %> - <%= invoice.created_at.strftime("%A, %B %-d, %Y") %></p>
          <% end %>
          <br>
      </div>
    <% end %>
  </div>
</section>
