<%= @merchant.name %>
<%= link_to "Items Index", merchant_items_path(@merchant.id) %>
<%= link_to "Invoice Index", merchant_invoices_path(@merchant.id) %>

<div id="top_customers">
<h2>Favourite Customers</h2>
  <% @merchant.top_customers.each_with_index do |customer, index| %>
    <div id="customer-<%= customer.id %>">
      <p><%= index + 1 %>. <%= customer.full_name %> - <%= @merchant.customer_amount_of_successful_transactions(customer.id) %> purchases</p>
    </div>
  <% end %>
</div>

<div id='items_to_ship'>
  <h2>Items Ready to Ship:</h2>
  <% @merchant.items_ready_to_ship.each do |item| %>
    <div id="item-<%= item.id %>">
      <h3><%= item.name %></h3>
      <h4>Shippable Invoices:</h4>
        <% item.shippable_invoices.each do |invoice| %>
          <p>Invoice #<%= link_to invoice.id, merchant_invoice_path(@merchant, invoice) %> - <%= invoice.created_at.strftime("%A, %B %-d, %Y") %></p>
        <% end %>
    </div>
  <% end %>
</div>