<h2 class="subtitle2">My Items</h2>
<br>
<section class="right">
  <h2>Top Items</h2>
  <div id="top_items">
    <% @merchant.top_items.each_with_index do |item, index| %>
      <p><%= "#{index + 1}. " %> <%= link_to "#{item.name}", merchant_item_path(@merchant, item)%> - <%= "#{number_to_currency(item.revenue / 100.00)} in sales" %></p>
      <p><%= "Top selling date for #{item.name} was #{item.date_with_most_sales.strftime("%A, %B %-d, %Y")}" %></p>
      <br>
    <% end %>
  </div>
</section>

<section class="left">
  <section id="enabled_items">
    <p><%= link_to "Create Item", new_merchant_item_path(@merchant) %></p>
    <h2>Enabled Items</h2>
    <% @items.enabled.each do |item| %>
      <div id="item_<%=item.id%>"> 
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item)  %> 
        <%= render partial: 'shared/enable_disable', locals: { entity: item, path: merchant_item_path(@merchant, item)} %>
      </div>
    <% end %>
  </section>
  <section id="disabled_items">
    <h2>Disabled Items</h2>
    <% @items.disabled.each do |item| %>
      <div id="item_<%=item.id%>"> 
        <%= link_to "#{item.name}", merchant_item_path(@merchant, item)  %> 
        <%= render partial: 'shared/enable_disable', locals: { entity: item, path: merchant_item_path(@merchant, item)} %>
      </div>
    <% end %>
  </section>
</section>

