<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> %>-->
  </head>

  <body>
    <h1>Little Esty Shop</h1>
    <section class="header">
      <%= render partial: "shared/subtitle", locals: { entity: @merchant } %>
      <%= render partial: "shared/nav_bar", locals: { link_name: "Dashboard", path: "/merchants/#{@merchant.id}/dashboard", link_name_2: "My Items", path_2: merchant_items_path(@merchant), link_name_3: "My Invoices", path_3: merchant_invoices_path(@merchant) } %>
    </section>
    <%= yield %>
  </body>
</html>
